.video-item{
  margin-top: 10px;
}

.video-metadata{
  padding: 20px 0px;
}


.video-container{
  position: relative;
padding-bottom: 300px;
padding-top: 30px;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 530px;
height: 315px;
}
